.html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

body {
  > div {
    height: 100%;
    width: 100%;
  }
}

.abs-center {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.main-container  {
  > .heading {
    height: 25%;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
}

button {
  outline: none;
}

#search > i {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    align-items: center;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 32px;
    height: 48px;
    outline: none;
    width: 75%;
  }
}

.search-buttons-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  width: 100%;

  button {
    background-color: #add8e6;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    height: 64px;
    width: 164px;
  }
}

// RESULTS CSS

.results-container {
  bottom: 0%;
  display: none;
  position: absolute;
  transition: bottom 2s ease-in-out;
  z-index: 2;

  div {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    text-align: center;
    transition: all 1.5s ease-in-out;
    width: 100%;
  }

  > div {
    position: absolute;
  }

  .title {
    background-color: rgb(32, 165, 199);
    height: 15%;
    z-index: 1;
  }

  .subreddit {
    background-color: rgb(31, 106, 150);
    height: 10%;
    z-index: -1;
  }

  .information-container {
    height: 25%;
  }

  .positive {
    background-color: rgb(32, 185, 32)!important;

    .heading {
      background-color: rgb(16, 114, 16)!important;
    }
  }

  .negative {
    background-color: rgb(192, 74, 74)!important;

    .heading {
      background-color: rgb(126, 22, 22)!important;
    }
  }

  .sentiment {
    background-color: rgb(219, 204, 67);
    height: 35%;

    .heading {
      background-color: rgb(182, 167, 35);
      height: 25%;
      width: 100%;
    }

    .body {
      height: 75%;
      font-size: 128px;
    }
  }
}

.information-container {
  top: 25%;

  > div {
    height: 100%;
    position: absolute;
    right: 100%;
    transition: 1.5s all ease;
    width: 33.33%;

    .heading {
      height: 25%;
    }

    .body {
      height: 75%;
    }
  }

  .comment-count {
    background-color: rgb(67, 123, 226);

    .heading {
      background-color: rgb(29, 76, 156);
    }
  }

  .upvotes {
    background-color: rgb(233, 172, 91);

    .heading {
      background-color: rgb(212, 134, 32);
    }
  }

  .created {
    background-color: rgb(197, 100, 235);

    .heading {
      background-color: rgb(142, 25, 189);
    }
  }
}

.buttons-container {
  height: 15%;
  top: 85%;

  > button {
    border: 0;
    color: #fff;
    font-size: 24px;
    height: 100%;
    position: absolute;
    text-align: center;
    transition: all 1.5s ease-out;
    width: 50%;
  }

  .search-again {
    background-color: rgb(101, 194, 206);
  }

  .feeling-lucky {
    background-color: rgb(148, 223, 233);
    z-index: 2;
  }
}

#reload {
  background-color: rgb(148, 223, 233);
  border-radius: 50%;
  height: 0;
  position: absolute;
  transition: .75s all ease-in-out;
  width: 0;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .results-container {
    .title {
      .body {
        font-size: 18px;
      }
    }
  }
}

// Custom Animations
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// // Gradient Animation
// .gradient-background {
//   background: linear-gradient(230deg, #8cca86, #e19291);
//   background-size: 400% 400%;
  
//   -webkit-animation: AnimationName 30s ease infinite;
//   -moz-animation: AnimationName 30s ease infinite;
//   animation: AnimationName 30s ease infinite;
  
//   @-webkit-keyframes AnimationName {
//       0%{background-position:50% 0%}
//       50%{background-position:51% 100%}
//       100%{background-position:50% 0%}
//   }

//   @-moz-keyframes AnimationName {
//       0%{background-position:50% 0%}
//       50%{background-position:51% 100%}
//       100%{background-position:50% 0%}
//   }
  
//   @keyframes AnimationName { 
//       0%{background-position:50% 0%}
//       50%{background-position:51% 100%}
//       100%{background-position:50% 0%}
//   }
// }