.html,
body {
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url('/images/reddit-sa-background.jpg');
}

body {
  > div {
    height: 100%;
    width: 100%;
  }
}

.abs-center {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.main-container  {
  > .heading {
    color: white;
    font-size: 32px;
    font-weight: bold;
    height: 25%;
    margin-top: 3rem;
  }
}

.search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;

  .input-description {
    color: white;
    text-align: center;
    margin-bottom: 18px;
    font-size: 18px;
    width: 75%;
  }
}

button {
  outline: none;
}

#search > i,
#random > i {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.input-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  i {
    position: absolute;
    right: 20%;

    &.valid {
      color: green;
    }

    &.invalid {
      color: red;
    }
  }

  input {
    align-items: center;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 32px;
    height: 48px;
    outline: none;
    padding-right: 5%;
    width: 60%;

    &.valid {
      border: 1px solid green;
    }

    &.invalid {
      border: 1px solid red;
    }
  }
}

.search-buttons-container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  width: 100%;

  button {
    background-color: rgb(240, 171, 66);
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    height: 64px;
    transition: background-color .25s ease-in-out;
    width: 164px;

    &:hover {
      background-color: rgb(255, 162, 31);
    }
  }

  #search {
    margin-right: 24px;
  }
}

// RESULTS CSS
.results-container {
  bottom: 0%;
  display: none;
  position: absolute;
  transition: bottom 2s ease-in-out;
  z-index: 2;

  div {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    text-align: center;
    transition: 
      left 1.5s ease-in-out, 
      top 1.5s ease-in-out,
      bottom 1.5s ease-in-out,
      right 1.5s ease-in-out,
      background-color 1.5s ease-in-out;
    width: 100%;
  }

  > div {
    position: absolute;
  }

  .title {
    background-color: rgb(32, 165, 199);
    height: 15%;
    z-index: 1;

    .body {
      overflow-y: auto;

      &.large {
        font-size: 42px;
      }

      &.medium {
        font-size: 36px;
      }

      &.small {
        font-size: 30px;
      }
      
      &.very-small {
        font-size: 24px;
      }
    }
  }

  .subreddit {
    background-color: rgb(31, 106, 150);
    height: 10%;
    z-index: -1;
  }

  .information-container {
    height: 25%;
  }

  .positive {
    background-color: rgb(126, 187, 126)!important;

    .heading {
      background-color: rgb(66, 173, 66)!important;
    }
  }

  .negative {
    background-color: rgb(184, 108, 108)!important;

    .heading {
      background-color: rgb(173, 57, 57)!important;
    }
  }

  .positive-sentiment,
  .negative-sentiment {
    background-color: rgb(219, 204, 67);
    height: 20%;
    transition: all 2s ease-in-out;
    z-index: 1;

    .heading {
      background-color: rgb(182, 167, 35);
      height: 25%;
      width: 100%;
    }

    .body {
      font-size: 96px;
      height: 75%;
    }
  }
}

.information-container {
  top: 25%;

  > div {
    height: 100%;
    position: absolute;
    right: 100%;
    transition: 1.5s all ease;
    width: 33.33%;

    .heading {
      height: 25%;
    }

    .body {
      height: 75%;
    }
  }

  .comment-count {
    background-color: rgb(67, 123, 226);

    .heading {
      background-color: rgb(29, 76, 156);
    }

    .body {
      font-size: 72px;
    }
  }

  .upvotes {
    background-color: rgb(233, 172, 91);

    .heading {
      background-color: rgb(212, 134, 32);
    }

    .body {
      font-size: 72px;
    }
  }

  .created {
    background-color: rgb(197, 100, 235);

    .heading {
      background-color: rgb(142, 25, 189);
    }

    .body {
      font-size: 48px;
    }
  }
}

.buttons-container {
  height: 10%;
  top: 90%;

  > button {
    border: 0;
    color: #fff;
    font-size: 24px;
    height: 100%;
    position: absolute;
    text-align: center;
    transition: all 1.5s ease-out;
    width: 50%;
  }

  .search-again {
    background-color: rgb(101, 194, 206);
  }

  .feeling-lucky {
    background-color: rgb(148, 223, 233);
    z-index: 2;
  }
}

#reload {
  background-color: rgb(148, 223, 233);
  border-radius: 50%;
  height: 0;
  position: absolute;
  transition: .75s all ease-in-out;
  width: 0;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .main-container  {
    > .heading {
      font-size: 18px;
    }

    .input-container {
      i {
        right: 10%;
      }

      input {
        padding-right: 10%;
        width: 80%;
      }
    }
  }

  .information-container {
    .upvotes,
    .comment-count {
      .body {
        font-size: 36px;
      }
    }

    .created {
      .body {
        font-size: 30px;
      }
    }
  }

  .results-container {
    .title {
      .body {
        &.large {
          font-size: 28px;
        }

        &.medium {
          font-size: 24px;
        }

        &.small {
          font-size: 20px;
        }

        &.very-small {
          font-size: 18px;
        }
      }
    }

    .positive-sentiment,
    .negative-sentiment {
      .body {
        font-size: 72px;
      }
    }
  }
}

// Custom Animations
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
