.html, body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
} 

body > div {
    height: 100%;
    width: 100%;
}

.abs-center {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-container > .heading {
    height: 25%;
}

.search-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    outline: none;
}

#search > i {
    animation: rotating 2s linear infinite;
    -webkit-animation: rotating 2s linear infinite;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container > input {
    align-items: center;
    font-size: 32px;
    height: 48px;
    width: 75%;
    outline:none;
    border: 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}

.search-buttons-container {
    width: 100%;
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

.search-buttons-container button {
    width: 164px;
    height: 64px;
    color: white;
    background-color: lightblue;
    border: 0px;
    border-radius: 4px;
    font-size: 24px;
}

.results-container {
    display: none;
}

.results-container > div {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 32px;

    transition: all 1.5s ease-in-out;
}

.results-container .title {
    height: 15%;
    background-color: rgb(32, 165, 199);
    bottom: 100%;
}

.results-container .information-container {
    height: 35%;
}

.results-container .sentiment {
    height: 35%;
}

.results-container .footer {
    height: 10%;
}

.information-container {
    top: 15%;
}
    
.information-container > div {
    position: absolute;
    transition: 1.5s all ease;
    width: 33.33%;
    height: 100%;
    right: 100%;
}

.information-container > div > .heading {
    height: 25%;
}

.information-container > div > .body {
    height: 75%;
}

.information-container > .comment-count {
    background-color: rgb(67, 123, 226);
}

.comment-count > .heading {
    background-color: rgb(29, 76, 156);
}

.information-container > .upvotes {
    background-color: rgb(233, 172, 91);
}

.upvotes > .heading {
    background-color: rgb(212, 134, 32);
}

.information-container > .created {
    background-color: rgb(197, 100, 235);
}

.created > .heading {
    background-color: rgb(142, 25, 189);
}

.results-container > .sentiment {
    background-color: rgb(219, 204, 67);
}

.buttons-container {
    top: 85%;
    height: 15%;
}

.buttons-container > button {
    position: absolute;
    width: 50%;
    text-align: center;
    border: 0px;
    height: 100%;
    color: white;
    font-size: 24px;

    transition: all 1.5s ease-out;
}

.buttons-container > .search-again {
    background-color: rgb(101, 194, 206);
}

.buttons-container > .feeling-lucky {
    background-color: rgb(148, 223, 233);
}


/* Custom Animations */
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}